<div id="home" class="container-home">

  <div class="overlay"></div>

  <div class="cabecalho">
    <div class="titulo"><span>Excelência em <span class="cor-primaria">peças</span> para sua <span class="cor-primaria">indústria</span></span></div>
    <div class="descritivo"><span>Fornecemos peças de borracha de alta durabilidade e resistência para diversos setores industriais, garantindo o melhor desempenho para seus equipamentos.</span></div>
    <div class="botoes">
      <button class="button" (click)="buscarProdutos()">Ver produtos
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
      </button>
        <mat-form-field class="pesquisar">
          <input matInput type="search" #searchInput placeholder="Buscar por código" aria-label="Search">
          <button matSuffix mat-icon-button aria-label="Search" (click)="buscarProdutos(searchInput.value)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
    </div>
  </div>
</div>

<div class="container-carousel">
  <h1>Produtos em destaque</h1>
  <h3>Conheça nossa linha de produtos desenvolvidos com os mais altos padrões de qualidade</h3>
  <div class="carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of slides; let i = index;">
        <ng-template carouselSlide [id]="'slide-' + slide.id">
          <div class="carousel-card">
            <img [src]="slide.imagePath" alt="Slide"/>
            <span>{{ slide.descricao }}</span>
            <button mat-fab (click)="rotaComprar(slide.descricao)">comprar</button>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <button class="link" (click)="buscarProdutos()">Ver todos os produtos
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e59416"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
</button>
</div>

<div id="sobre" class="container-sobre">
  <h1>Por que escolher a Parts Power Flex?</h1>
  <h3>Somos referência em soluções de alta qualidade para os mais diversos setores industriais</h3>
  <div class="body-sobre">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Produtos de alta qualidade</mat-card-title>
        <mat-card-subtitle>Componentes desenvolvidos com os melhores materiais e rigoroso controle de qualidade.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Equipe especializada</mat-card-title>
        <mat-card-subtitle>Profissionais qualificados para auxiliar na escolha dos produtos ideais para sua aplicação.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Soluções personalizadas</mat-card-title>
        <mat-card-subtitle>Desenvolvimento de produtos específicos para atender às necessidades únicas do seu negócio.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>