$corPrimaria:#e59416;
.cor-primaria {color: #e59416 !important};

.container-produtos {

  .header-produtos {
    position: relative;
    height: 500px;

        

    video {
      position: absolute;
      top: 40%;
      left: 675px;
      min-width: 1352px;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      background-size: cover;
      object-fit: cover;
      z-index: -1
    }

    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); // Adjust the color and opacity as needed
    }

    .descricao {
      z-index: 1;
      position: absolute;
      top: 50%;
      width: 55%;
      justify-items: center;
      justify-self: anchor-center;

      .titulo {
        color: white;
        margin: 0;
      }

      .sub1 {
        color: $corPrimaria;
      }

      .sub2 {
        color: hsl(210 20% 96%)
      }
    }
  }


  .pesquisar {
    padding-top: 20px;
    display: flex;
    justify-self: center;
    width: 400px;
  }

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #ff884d;
    }
    .mat-form-field-ripple {
        background-color: #ff884d;
    }
    .mat-form-field-required-marker {
        color: #ff884d;
    }
    .mat-input-element {
        color: #ff884d;
    }
}

::ng-deep .mat-form-field {
  .mat-input-element {
      color: slategray;
  }
  .mat-form-field-label {
      color: slategray;
  }
  .mat-form-field-underline {
      background-color: slategray;
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: slategray;
  }
}


.body-produtos {
  // display: flex;
  // padding: 50px;
  position: relative;
  background-color: white;
  padding-bottom: 20px;
  

  .container-lita-prodtudos {
    display: flex;
    max-height: 480px;
  .filter {
    display: block;
    justify-content: center;
    margin-bottom: 20px;
    width: 450px !important;
  
    button {
      display: block;
      margin: 10px 10px;
      padding: 0px 20px;
      color: black;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &.categoria {
        font-weight: bold;
        font-size: 16px;
      }
      
      &.subcategoria {
        margin-left: 20px;
      }
  
      &:hover, &:active {
        color: #c07f16;
      }
    }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  overflow: overlay;

  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }

    h3 {
      margin: 10px 0;
    }

    p {
      font-size: 0.875rem;
      color: #555;
    }

    .buy-button {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #e59416;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #c07f16;
      }
    }
  }
}
  }
}
}


// @media (max-width: 1024px) {
//   .header-produtos {
//     height: 400px !important;

//     .descricao {
//       top:35% !important;

//       .titulo {
//         font-size: 1.25rem;
//       }

//       .sub1 {
//         font-size: 1rem;
//       }

//       .sub2 {
//         font-size: 0.875rem;
//       }
//     }
//   }

//   .body-produtos {
//     .container-lita-prodtudos {
//       flex-direction: row;

//       .filter {
//         max-width: 130px !important;
//         .categoria {
//           font-size: 14px !important;
//           margin: 5px !important;
//           padding: 0px !important;
//           inline-size: max-content !important;
//           padding: 0px !important;

//         }

//         .subcategoria{
//           margin-left: 5px !important;
//         }
//       }
//       .product-list {
//         .product-card {
//           width: calc(50% - 20px); /* 2 cards por linha */
//         }
//       }
//     }
//   }
// }

.filtro-ativado {
  color: $corPrimaria !important;
}

@media (max-width: 768px) {
  .container-produtos{
    width: 100%;

    .header-produtos {
    height: 281px !important;
    background-image: url('./../../../assets/imgs/bg-pagina-produtos.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    

    video {
      display: none;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.7); // Adjust the color and opacity as needed
    }

    .descricao {
      top:35% !important;
       display: flex; /* Ativa o Flexbox */
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        text-align: center; /* Centraliza o texto */
        width: 95%; /* Garante que a largura seja total */
        padding: 0px 10px;

      .titulo {
        font-size: 1rem;
      }

      .sub1 {
        font-size: 0.875rem;
      }

      .sub2 {
        font-size: 0.75rem;
      }
    }
  }

  .body-produtos {
    display: flex; /* Ativa o Flexbox */
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        text-align: center; /* Centraliza o texto */
        width: 100%; /* Garante que a largura seja total */
        height: 100%; /* Garante que ocupe toda a altura do contêiner */

    .pesquisar {
       width: 85%;
      display: flex; /* Ativa o Flexbox */
      flex-direction: column; /* Alinha os elementos verticalmente */
      align-items: center; /* Centraliza horizontalmente */
      justify-content: center; /* Centraliza verticalmente */
      text-align: center; /* Centraliza o texto */
    }
    
    .container-lita-prodtudos {
      max-height: fit-content;
      display: flex; /* Ativa o Flexbox */
      flex-direction: column; /* Alinha os elementos verticalmente */
      align-items: center; /* Centraliza horizontalmente */
      justify-content: center; /* Centraliza verticalmente */
      text-align: center; /* Centraliza o texto */
      width: 100%; /* Garante que a largura seja total */
      height: 100%; /* Garante que ocupe toda a altura do contêiner */

      .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;

        .categoria {
          font-size: 14px !important;
          margin: 5px !important;
          padding: 0px !important;
        }

        .subcategoria{
          display: none !important;
        }
      }
      .product-list {
        max-height: 420px;
        display: flex; /* Ativa o Flexbox */
        flex-direction: row; /* Alinha os elementos verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        text-align: center; /* Centraliza o texto */
        width: 100%; /* Garante que a largura seja total */
        height: 100%; /* Garante que ocupe toda a altura do contêiner */
     
        .product-card {
          width: 28%; /* 1 card por linha */
        }
      }
    }
  }
}
}