<div class="container-produtos">
  <div class="header-produtos">
    <video *ngIf="!mobile" autoplay muted loop>
      <source src="sobre.mp4" type="video/mp4" />
    </video>
    <div class="overlay"></div>

    <div class="descricao">
      <h3 class="titulo">NOSSOS PRODUTOS</h3>
      <h1 class="sub1">Soluções de alta performance para sua indústria</h1>
      <h3 class="sub2">
        Conheça nossa linha de produtos desenvolvidos com materiais de alta
        qualidade e tecnologia avançada para garantir o máximo desempenho em
        aplicações exigentes.
      </h3>
    </div>
  </div>

  <div class="body-produtos">
    <div class="filter-actions">
    <div
        class="filter-toggle"
        *ngIf="mobile"
        (click)="toggleFilterPanel()"
      >
      <mat-icon>filter_list</mat-icon>
      </div>
    <mat-form-field class="pesquisar">
      <input
        matInput
        #searchInput
        type="search"
        placeholder="Buscar por código"
        (input)="filterBySearch(searchInput.value)"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Search"
        (input)="filterBySearch(searchInput.value)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
    
    
    <div class="container-lita-prodtudos">
      <div class="filter-panel" [class.open]="filterPanelOpen">
        <div class="filter-header"  *ngIf="mobile">
          <h3>Filtros</h3>
          <button matSuffix
          mat-icon-button
          class="close-button" (click)="toggleFilterPanel()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="filter">
          <button
            class="categoria"
            [ngClass]="{ 'filtro-ativado': isLinkAtivado('todos') }"
            (click)="resetFilter()"
          >
            Todos
          </button>
          <ng-container *ngFor="let category of categories">
            <button
              class="categoria"
              [ngClass]="{ 'filtro-ativado': isLinkAtivado(category.name) }"
              (click)="filterByCategory(category.name)"
            >
              {{ category.name }}
            </button>
            <ng-container *ngIf="category.subcategories?.length">
              <button
                class="subcategoria"
                *ngFor="let subcategory of category.subcategories"
                [ngClass]="{ 'filtro-ativado': isLinkAtivado(subcategory) }"
                (click)="filterBySubcategory(subcategory, category.name)"
              >
                {{ subcategory }}
              </button>
            </ng-container>
          </ng-container>
        </div>
  
        <!-- Botões de ação -->
        <div class="filter-actions"  *ngIf="mobile">
          <button class="clear-button" (click)="resetFilter()">Limpar Filtro</button>
          <button class="apply-button" (click)="applyFilter()">Aplicar Filtro</button>
        </div>
      </div>

      <div class="product-list">
        <div class="product-card" *ngFor="let product of filteredProducts">
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
          <h3>{{ product.name }}</h3>
          <button class="buy-button" (click)="rotaComprar(product.name)">
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
