

<div class="container-produtos">
  <div class="header-produtos">
    <video *ngIf="!mobile" autoplay muted loop>
      <source src="sobre.mp4" type="video/mp4" />
    </video>
    <div class="overlay"></div>

    <div class="descricao">
      <h3 class="titulo">NOSSOS PRODUTOS</h3>
      <h1 class="sub1">Soluções de alta performance para sua maquina</h1>
      <h3 class="sub2">
        Conheça nossa linha de produtos desenvolvidos com materiais de alta
        qualidade e tecnologia avançada para garantir o máximo desempenho em
        aplicações exigentes.
      </h3>
    </div>
  </div>

  <div class="body-produtos">
    <div class="filter-actions">
    <div
        class="filter-toggle"
        *ngIf="mobile"
        (click)="toggleFilterPanel()"
      >
      <mat-icon>filter_list</mat-icon>
      </div>
    <mat-form-field class="pesquisar">
      <input
        matInput
        #searchInput
        type="search"
        placeholder="Buscar por código"
        (input)="filterBySearch(searchInput.value)"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Search"
        (input)="filterBySearch(searchInput.value)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
    
    
    <div class="container-lita-prodtudos">
      <div class="filter-panel" [class.open]="filterPanelOpen">
        <div class="filter-header"  *ngIf="mobile">
          <h3>Filtros</h3>
          <button matSuffix
          mat-icon-button
          class="close-button" (click)="toggleFilterPanel()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="filter">
          <mat-accordion>
            <mat-expansion-panel class="categoria" *ngFor="let category of categories"
            [expanded]="categoriaSelecionada === category.name">
              <mat-expansion-panel-header>
                <mat-panel-title 
                [ngClass]="{ 'filtro-ativado': categoriaSelecionada === category.name }"
                >
                  {{ category.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
        
              <ng-container *ngIf="category.subcategories?.length">
                <div class="subcategories">
                  <button
                    class="subcategoria"
                    *ngFor="let subcategory of category.subcategories"
                    [ngClass]="{ 'filtro-ativado': isLinkAtivado(subcategory, category.name) }"
                    (click)="filterBySubcategory(subcategory, category.name)"
                  >
                    {{ subcategory }}
                  </button>
                </div>
              </ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
  
        <!-- Botões de ação -->
        <div class="filter-actions"  *ngIf="mobile">
          <button class="clear-button" (click)="resetFilter()">Limpar Filtro</button>
          <button class="apply-button" (click)="applyFilter()">Aplicar Filtro</button>
        </div>
      </div>


      
      <div class="product-list">
        <ng-container *ngIf="mostraProduto; else mostraLista">
          <app-produto [produto]="detalhesProduto" (voltarListaProdutos)="rotaLista($event)"></app-produto>
        </ng-container>

        <ng-template #mostraLista>
        <div class="product-card" *ngFor="let product of filteredProducts">
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
          <h3>COD: {{ product.name }}</h3>
          <h5> {{ product.category }} - {{ product.subcategories}}</h5>
          <button class="buy-button" (click)="rotaProduto(product)">
            Comprar
          </button>
        </div>
      </ng-template>
      </div>
    </div>
  </div>
</div>
